 
 @import url("https://fonts.cdnfonts.com/css/gotham");
 
 .nav-link {
  display: inline-block;
  
  }
  
  .nav-link:hover {
  text-decoration: underline; /*will change background-color of element on hover */
  text-decoration-color: #647942;
  }